{% load asset %}

<html lang="en" style="height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.8.0/dropzone.min.css"
        integrity="sha512-jU/7UFiaW5UBGODEopEqnbIAHOI8fO6T99m7Tsmqs2gkdujByJfkCbbfPSN4Wlqlb9TGnsuC0YgUgWkRBK7B9A=="
        crossorigin="anonymous" />
    <style>
        div.react-datepicker-popper {
            z-index: 1000;
        }
        li.fancySmancyList {
            break-inside: avoid;
        }
    </style>
</head>

<body>
    <div id="dashboard-app"></div>

    <script>
        var BASENAME = '{{ basename|safe }}';
        var BUSINESS_ID = '{{ business_id|safe }}';
        var AUTH_USER_ID = '{{ auth_user_id|safe }}';
        var AUTH_USER_BUSINESS_ID = '{{ auth_user_business_id|safe }}';
    </script>
    <script src="{{ '/static/js/dashboard.js' | asset }}"></script>
</body>

</html>